<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "wrapper">
        <h1>Welcome {{session['name']}}!</h1>
        <h1>Log your Workout</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <form action="/addworkout" method="POST">
            <p>Name: <input type="text" name="name"></p>
            <p>Set: <input type="number" name="num"></p>
            <p>Rep: <input type="number" name="rep"></p>
        <input type="submit" value="Submit">
        </form>
        <a href = "/dashboard"><button>cancel</button></a>
    </div>
</body>
</html>